.error{
    width: 100%;
    height: 100%;
    background-image: url("apiError.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}